# Docker Compose
COMPOSE_FILE=compose.yml

# Seed Data (Tự động nạp dữ liệu mẫu lần đầu, set thành false sau khi hoàn tất)
SEED_DATA=true

# Database
DATABASE_CLIENT=postgres
DATABASE_PORT=54321
DATABASE_NAME=strapi
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Strapi Secrets
APP_KEYS=toBeModified1,toBeModified2,toBeModified3,toBeModified4
API_TOKEN_SALT=tobemodified_salt
ADMIN_JWT_SECRET=tobemodified_admin_secret
TRANSFER_TOKEN_SALT=tobemodified_transfer_salt
JWT_SECRET=tobemodified_jwt_secret

# Next.js
NEXT_PUBLIC_API_URL=http://localhost

# Registry (dùng cho docker-compose.prod.yml)
REGISTRY_URL=localhost:5000
IMAGE_TAG=latest
