WEBSITE_URL=http://localhost:3000
ENVIRONMENT=development
PORT=3000
# Seed Data (Tự động nạp dữ liệu mẫu lần đầu, set thành false sau khi hoàn tất)
SEED_DATA=true

NEXT_OUTPUT=standalone
NEXT_PUBLIC_API_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
PREVIEW_SECRET=tobemodified