HOST=0.0.0.0
PORT=1337
APP_KEYS="tobemodified,tobemodified"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=tobemodified # optional, required with Next.js draft mode

# Script AI Content Seeding
STRAPI_ADMIN_TOKEN=your_full_access_token_here
